dist: xenial
language: python
install:
  - pip install $DJANGO
  - pip install coveralls
  - pip install --upgrade -r dev-requirements.txt
script:
  - py.test --cov sudo --cov-report term-missing
after_success:
  - coveralls
matrix:
  include:
    - python: "2.7"
      name: 'Linter (Python 2.7)'
      install:
        - pip install --upgrade -r dev-requirements.txt
      script: flake8 sudo tests
    - python: "3.7"
      name: 'Linter (Python 3.7)'
      install:
        - pip install --upgrade -r dev-requirements.txt
      script: flake8 sudo tests
    - python: "2.7"
      name: "Python 2.7, Django 1.9"
      env: DJANGO="Django>=1.9,<1.10"
    - python: "2.7"
      name: "Python 2.7, Django 1.10"
      env: DJANGO="Django>=1.10,<1.11"
    - python: "3.6"
      name: "Python 3.6, Django 1.9"
      env: DJANGO="Django>=1.9,<1.10"
    - python: "3.6"
      name: "Python 3.6, Django 1.10"
      env: DJANGO="Django>=1.10,<1.11"
    - python: "3.7"
      name: "Python 3.7, Django 1.9"
      env: DJANGO="Django>=1.9,<1.10"
    - python: "3.7"
      name: "Python 3.7, Django 1.10"
      env: DJANGO="Django>=1.10,<1.11"
